@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="id" class="form-label">Id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="Id">
  <label for="marca" class="form-label"> Marca:</label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="numero asiento" class="form-label">Numero asiento:</label>
  <input type="number" class="form-control" id="numero asiento" name="numero asiento" placeholder="Numero asiento">
  <label for="numero baños" class="form-label">Numero baños:</label>
  <input type="number" class="form-control" id="numero baños" name="numero baños" placeholder="Numero baños" >
  <label for="capacidad maxima" class="form-label">Capacidad máxima:</label>
  <input type="number" class="form-control" id="capacidad maxima" name="capacidad maxima" placeholder="Capacidad maxima">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>