@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://freesvg.org/img/bienvenido.png" alt=""> <!--recurso imagen-->
   <!--<h1 class="display-4">Welcome</h1>  #texto -->
  <!-- <iframe src=" " frameborder="0"></iframe> #recurso video -->
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
